doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="author" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="stylesheet" href='/css/main.css')
    block title
      title Default title
  body
    block content
    block footer
      include ../template/footer.pug
    block modal
      include ../template/modal.pug
    include ../template/sidebar.pug
    script(src='/js/main.js')
