extends ../layout/mainwrapp.pug
block title
    include ../data/actions.pug
    title!= actions[0].name
block variables
    - var mainWrapperClass = 'mainWrapper_bg uk-flex '
    - var mainWrapperStyle = 'background-image: url(' + actions[0].imgBg + ')'
    - var firstScreenClass = 'uk-flex uk-flex-column'
block header
  div.first-screen-top
    include ../template/header.pug
    +header()
    include ../template/page-title.pug
    +page-title(actions[0].name, 'Акции')
block pagetitle

block content
  .first-screen-center.uk-flex-middle.uk-flex.uk-flex-column.uk-flex-center#anchor-0
    .container-content
      include ../data/actions.pug
      include ../template/actions-infobox.pug
      block footWrap
block content2
  .container-content.container-content_padding-all.content
    .uk-column-medium-1-2
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .bg-box.bg-box_dark.uk-padding-remove
    .container-content.container-content_padding-all
      .title Обратная связь
      .form.uk-form.uk-form-stacked
        form(method="", id="")
          .uk-grid.uk-grid-small.uk-grid-width-large-1-5.uk-grid-width-medium-1-2.uk-grid-width-small-1-1
            .uk-form-controls.uk-margin-small-bottom
              label.uk-form-label Вас зовут
              input.uk-width-1-1(type='text', placeholder="Введите ваше имя")
            .uk-form-controls.uk-margin-small-bottom
              label.uk-form-label Контактный телефон
              input.uk-width-1-1.js-mask-phone(type='text', placeholder="+7 (900) 000-00-00")
            .uk-form-controls.uk-margin-small-bottom
              label.uk-form-label &nbsp;
              button.uk-button.uk-width-1-1() Перезвонить #[i.uk-icon-arrow-right.uk-text-primary]
  .footWrap
