extends ../layout/mainwrapp.pug
block title
    title Акции
block variables
    - var mainWrapperClass = 'mainWrapper_bg uk-flex'
    - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
    - var firstScreenClass = 'uk-flex uk-flex-column'
block header
  div.first-screen-top
    include ../template/header.pug
    +header()
    include ../template/page-title.pug
    +page-title('Акции')
block pagetitle
block content
  .first-screen-center.uk-flex-middle.uk-flex.uk-flex-column.uk-flex-center#anchor-0
    .container-content
      include ../data/actions.pug
      include ../template/actions-infobox-slider.pug
      block footWrap
block content2
  .mainWrapper.mainWrapper_height-auto
    include ../template/actions-filter.pug
    .container-content.container-content_padding-all
      include ../template/actions-list.pug

    .footWrap
