extend ../layout/mainwrapp.pug
block header
  include ../template/header.pug
  +header()(class="header_bg")
block content
  .container-content.container-content_padding-all.content
    ul
      li: a(href="/", target="_blank") Главная
      li: a(href="/actions.html", target="_blank") Акции
      li: a(href="/actions__one.html", target="_blank") Акция
      li: a(href="/contacts.html", target="_blank") Контакты
      li: a(href="/credit.html", target="_blank") Кредит
      li: a(href="/models.html", target="_blank") Модельный ряд
      li: a(href="/models__one.html", target="_blank") Модельный ряд (страница авто)
      li: a(href="/service.html", target="_blank") Сервис
      li: a(href="/trade.html", target="_blank") Трейд-ин
