extend ../layout/mainwrapp.pug
block title
  title Контакты
block variables
  block variables
      - var mainWrapperClass = 'mainWrapper_bg mainWrapper_height-auto uk-flex uk-flex-column '
      - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
block header
  .first-screen-top
    include ../template/header.pug
    +header()(class="")
    include ../template/page-title.pug
    +page-title('Контакты')
block pagetitle
block content
  block footWrap
block content2
  .mainWrapper.contacts-page.uk-flex
    .container-content.container-content_padding-all.uk-flex.uk-flex-column.uk-flex-right
      .contact-info.content.uk-grid.uk-grid-collapse.uk-grid-width-large-1-3.uk-grid-width-medium-1-1(data-uk-grid-match)
        .contact-info__item
          .uk-margin.
            #[b Адрес:] <br>
            620100, Свердловская область, г.Екатеринбург, переулок Базовый, 10
          .uk-margin.
            #[b Телефоны:]
            #[div.indented-line  <i>салон</i> +7 (343) 211-10-11]
            #[div.indented-line  <i>сервис</i> +7 (343) 211-10-11]
          .uk-margin.
            #[b E-mail:] <br>
            #[div Bzv@amkekt.ru]
        .contact-info__item
          .uk-margin.
            #[b Часы работы салона:]
            #[div ПН-ВС с 8:00 до 20:00]
          .uk-margin.
            #[b Часы работы сервисного центра:]
            #[div ПН-ВС с 8:00 до 20:00]
          .uk-margin.
            #[b Отдел по работе с клиентами:]
            #[div +7 912 202 02 19]
          .uk-margin.
            #[b Часы приема обращений:]
            #[div ПН-ВС с 8:00 до 17:00, СБ-ВС - выходной]
        .contact-info__item
          .uk-margin
            b До нас можно добраься] #[br]
            p.
              Остановка "ДК Гагарина" - автобусы 1, 31, 32, 45, 76, 010, 021
      .map.
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2183.585946853844!2d60.65164331629693!3d56.81873598085186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16ea674c5c8bd%3A0xfa1a4b61ed96bc60!2z0JHQsNC30L7QstGL0Lkg0L_QtdGALiwgMTAsINCV0LrQsNGC0LXRgNC40L3QsdGD0YDQsywg0KHQstC10YDQtNC70L7QstGB0LrQsNGPINC-0LHQuy4sIDYyMDEwMA!5e0!3m2!1sru!2sru!4v1479712327111" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  .footWrap
