extends ../layout/mainwrapp.pug
block title
    title Кредит
block variables
    - var mainWrapperClass = 'mainWrapper_bg mainWrapper_height-auto'
    - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
block pagetitle
  include ../template/page-title.pug
  +page-title('Кредит')
block content
  .container-content.container-content_padding-all.uk-padding-top-remove
    p.
      <b>Выгодные условия кредита</b><br> Автосалон "АМК Екатеринбург" представляет широкий спектр программ автокредитования.

    block footWrap
block content2
  .uk-overflow-hidden
    .container-content.container-content_padding-all.uk-padding-bottom-remove.content
      p.
        Вам не нужно долго звонить в банки в поисках лучшей программы, собирать огромный пакет документов и ждать неделями решения по своей заявке. Достаточно обратиться к кредитным специалистам автосалона <strong>"АМК-Екатеринбург"</strong> и они легко смогут подобрать подходящий именно для Вас банк и кредитную программу.
      .warning-line.uk-margin.
        Вы можете приобрести автомобиль <b>LADA (ЛАДА)</b> по ставке от <b>6,5% годовых!</b>
      .grid
        .col-l-4.col-m-12
          .title.
            Как оформить кредит на покупку автомобиля в автосалоне "АМК-Екатеринбург"?
        .col-l-8.col-m-12
          ol
            li <b>Выберите один из автомобилей LADA (ЛАДА)</b> c Вашим персональным продавцом-консультантом.
            li <b>Обратитесь в отдел кредитования</b>, специалисты подберут для Вас выгодные программы, от ведущих банков, действующих в автосалоне.
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .muted-line.uk-margin-top.
            <b style="font-size: 16px;">Если у Вас не возможности подъехать в наш дилерский центр, Вы всегда сможете получить полноценную консультацию о возможности приобретения автомобиля в кредит, позвонив нам по телефону +7 (343) 211-10-00</b><br>
            <i class="uk-text-muted" style="font-size: 13px;"><sup>*</sup> Подробности у продавцов-консультантов автосалона или у специалистов отдела кредитования по телефону: (343) 211 10 00</i>
    .bg-cover(style="background-image:url('../img/bg-model-action.jpg')")
      .container-content.container-content_padding-all
        .form.form_transparent.uk-form.uk-form-stacked
          form(id="", method="", action="")
            .uk-form-row.uk-grid.uk-grid-medium
              .uk-form-controls.uk-margin-bottom
                label.uk-form-label Вас зовут
                input(type="text", placeholder="Введите ваше имя...").uk-form-width-large
              .uk-form-controls.uk-margin-bottom
                label.uk-form-label Контактный телефон
                input(type="text", placeholder="+7 (900) 000-00-00").js-mask-phone.uk-form-width-large
              .uk-form-controls.uk-margin-bottom
                label.uk-form-label &nbsp;
                button.btn.uk-button.uk-form-width-large(type="submit") Перезвонить мне

    .footWrap
