//- index.pug
extends ../layout/h1.pug
block title
    title Главная
block content
    .hm-first-screen.mainWrapper.uk-flex.uk-flex-wrap
        .hm-first-screen__left.uk-width-large-1-2.uk-flex.uk-flex-column.uk-flex-space-between
          include ../template/hm-slider.pug
          +slider
        .hm-first-screen__right.uk-width-large-1-2.uk-flex.uk-flex-column.uk-flex-space-between
          .hm-first-screen__menu
              include ../template/menu.pug
              +menu(mainMenu)(class="menu-main")
          .hm-first-screen__center
            .logo
              img(src="../img/logo.png", alt="")
            include ../template/menu.pug
            +menu(['Chery','Lifan','Brilliance'])(class="menu-auto")
          .hm-first-screen__bottom
            .hm-first-screen__content
              .b-just
                a(href="#modal-call", data-uk-modal)
                  i.icon.sprite-i-phone-mobile
                  span Бесплатный звонок
                | &nbsp;
                a.hm-first-screen__phone(href="tel:+7(343) 211-10-01", target="") +7(343) 211-10-01
                | &nbsp;
                a(href="#modal-testdrive", data-uk-modal)
                  i.icon.sprite-i-car
                  span Запись на тест-драйв

block footer
