.uk-clearfix.modal__top
  .modal__btn-box.modal__btn-box_no-border
    a(href="", class="modal__btn uk-modal-close")
      i.icon.sprite-close
  .modal__title Chery Bonus

.mainWrapper.mainWrapper_height-auto.mainWrapper_lightbox.modal-w890
  .auto-fotogallery.auto-fotogallery_2
    #auto-fotogallery-box
      include ../template/slidecarousel.pug
  .bg-box.modal-in-content
    .uk-grid.uk-grid-width-large-1-4.uk-grid-width-medium-1-2
      div Год выпуска: #[b 2011]
      div Пробег: #[b 68 000 км]
      div Двигатель: #[b 1,6]
      div КПП: #[b 5 МКПП]
  .bg-box.bg-box_muted.modal-in-content
    .form.form_light.uk-form.uk-form-stacked
      .uk-grid.uk-grid-width-large-1-3.uk-grid-width-medium-1-2
        .uk-form-controls
          label.uk-form-label Вас зовут
          input.uk-width-1-1(type="text", placeholder="Введите ваше имя...")
        .uk-form-controls
          label.uk-form-label Контактный телефон
          input.uk-width-1-1.js-mask-phone(type="text", placeholder="+7 (900) 000-00-00")
        .uk-form-controls
          label.uk-form-label &nbsp;
          button.btn.uk-button.uk-width-1-1 Перезвоните мне
