.modal-in
  .modal__top.uk-clearfix
    .modal__btn-box
      a(href="", class="modal__btn")
        i.icon.sprite-down
      a(href="", class="modal__btn uk-modal-close")
        i.icon.sprite-close
    ul.switch.modal__switch
      li.switch__item.uk-active
        a.switch__link.js-modal-foto(href="../lightbox-foto.html") Экстерьер
      li.switch__item
        a.switch__link.js-modal-foto(href="../lightbox-foto.html") Интерьер
  .mainWrapper.mainWrapper_lightbox
    .auto-fotogallery
      #auto-fotogallery-box
        include ../template/slidecarousel.pug
