extends ../layout/mainwrapp.pug
block title
    title Модельный ряд
block variables
    - var mainWrapperClass = 'mainWrapper_bg uk-flex uk-flex-column'
    - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
    - var firstScreenClass = 'uk-flex uk-flex-column'
block header
  div.first-screen-top
    include ../template/header.pug
    +header()
    include ../template/page-title.pug
    +page-title('Модельный ряд')
block pagetitle

block content
  .first-screen-center.uk-flex-middle.uk-flex.uk-flex-column.uk-flex-center
    .container-content
      include ../data/actions.pug
      include ../template/actions-infobox.pug
      block footWrap
block content2
  .mainWrapper.mainWrapper_height-auto
    .container-content.container-content_padding-all
      .title Модельный ряд
      include ../template/menu.pug
      +menu(['Bonus 3','IndiS', 'Tiggo 5', 'Tiggo FFL', 'Arrizo 7', 'Bonus M11', 'Hatchback M11', 'Sedan'])(class="second-menu")
      .content
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .footWrap
