extends ../layout/mainwrapp.pug
block title
    title Bonus 3
block variables
    - var mainWrapperClass = 'mainWrapper_bg uk-flex uk-flex-column'
    - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
    - var firstScreenClass = 'uk-flex uk-flex-column'
block header
  div.first-screen-top
    include ../template/header.pug
    +header()
    include ../template/page-title.pug
    +page-title('Bonus 3')
block pagetitle

block content
  .first-screen-center.uk-flex-middle.uk-flex.uk-flex-column.uk-flex-center#anchor-0
    .container-content
      include ../data/actions.pug
      include ../template/actions-infobox-slider.pug
      block footWrap
block content2
  .mainWrapper.mainWrapper_height-auto
    .container-content
      include ../template/menu.pug
      +menu(['Акции','Комплектации', 'Описание и фото', 'Записаться на тест-драйв'])(class="menu-anchor", data-uk-scrollspy-nav="{closest:'li', smoothscroll:true}")
      #anchor-1
        .title Комплектации
        .content
          table
            tr
              th Цена
              th #[span.uk-text-primary 485 900 руб.] (Standart)
              th #[span.uk-text-primary 485 900 руб.] (Comfort)
            tbody
              tr
                td(colspan=3) Аудио
              tr
                td 4 динамика
                td #[i.icon.sprite-i-check]
                td #[i.icon.sprite-i-check]
              tr
                td Радио, разъем USB
                td
                td #[i.icon.sprite-i-check]
              tr
                td CD плеер, разъем USB
                td #[i.icon.sprite-i-check]
                td
            tbody
              tr
                td(colspan=3) Аудио
              tr
                td 4 динамика
                td #[i.icon.sprite-i-check]
                td #[i.icon.sprite-i-check]
              tr
                td Радио, разъем USB
                td
                td #[i.icon.sprite-i-check]
              tr
                td CD плеер, разъем USB
                td #[i.icon.sprite-i-check]
                td
    #anchor-2
      include ../template/model-caption-and-foto.pug
    #anchor-3
      .bg-box.bg-box_dark.uk-padding-remove
        .container-content.container-content_padding-all
          .title Записаться на тест-драйв
          .form.uk-form.uk-form-stacked
            form(method="", id="")
              .uk-grid.uk-grid-small.uk-grid-width-large-1-5.uk-grid-width-medium-1-2.uk-grid-width-small-1-1
                .uk-form-controls.uk-margin-small-bottom
                  label.uk-form-label Вас зовут
                  input.uk-width-1-1(type='text', placeholder="Введите ваше имя")
                .uk-form-controls.uk-margin-small-bottom
                  label.uk-form-label Контактный телефон
                  input.uk-width-1-1.js-mask-phone(type='text', placeholder="+7 (900) 000-00-00")
                .uk-form-controls.uk-margin-small-bottom
                  label.uk-form-label Выберите марку
                  .uk-form-select.uk-width-1-1(data-uk-form-select)
                    span
                    select
                      option Модель не выбрана
                      option Модель
                .uk-form-controls.uk-margin-small-bottom
                  label.uk-form-label Выберите модель
                  .uk-form-select.uk-width-1-1(data-uk-form-select)
                    span
                    select
                      option Модель не выбрана
                      option Модель
                .uk-form-controls.uk-margin-small-bottom
                  label.uk-form-label &nbsp;
                  button.uk-button.uk-width-1-1() Записаться #[i.uk-icon-arrow-right.uk-text-primary]

    .footWrap
