extends ../layout/mainwrapp.pug
block title
    title Сервис
block variables
    - var mainWrapperClass = 'mainWrapper_bg mainWrapper_height-auto'
    - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
block pagetitle
  include ../template/page-title.pug
  +page-title('Сервис')(class="uk-margin-bottom-remove")
block content
  .bg-box.bg-box_dark.uk-padding-remove.uk-margin-top-remove
    .container-content.container-content_padding-all
      .form.uk-form.uk-form-stacked
        form(method="", id="")
          .uk-grid.uk-grid-small.uk-grid-width-large-1-5.uk-grid-width-medium-1-2.uk-grid-width-small-1-1
            .uk-form-controls.uk-margin-small-bottom
              label.uk-form-label Вас зовут
              input.uk-width-1-1(type='text', placeholder="Введите ваше имя")
            .uk-form-controls.uk-margin-small-bottom
              label.uk-form-label Контактный телефон
              input.uk-width-1-1.js-mask-phone(type='text', placeholder="+7 (900) 000-00-00")
            .uk-form-controls.uk-margin-small-bottom
              label.uk-form-label Выберите марку
              .uk-form-select.uk-width-1-1(data-uk-form-select)
                span
                select
                  option Модель не выбрана
                  option Модель
            .uk-form-controls.uk-margin-small-bottom
              label.uk-form-label Выберите модель
              .uk-form-select.uk-width-1-1(data-uk-form-select)
                span.disabled
                select(disabled="disabled")
                  option Модель не выбрана
                  option Модель
            .uk-form-controls.uk-margin-small-bottom
              label.uk-form-label &nbsp;
              button.uk-button.uk-width-1-1() Записаться #[i.uk-icon-arrow-right.uk-text-primary]
  block footWrap
block content2
  .uk-overflow-hidden
    .container-content.container-content_padding-all.content
      .uk-column-medium-1-2
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .footWrap
