extends ../layout/mainwrapp.pug
block title
    title Трейд-ин
block variables
    - var mainWrapperClass = 'mainWrapper_bg uk-flex uk-flex-column'
    - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
    - var firstScreenClass = 'uk-flex uk-flex-column'
block header
  div.first-screen-top
    include ../template/header.pug
    +header()
    include ../template/page-title.pug
    +page-title('Трейд-ин')
block pagetitle
block content
  .first-screen-center.uk-flex-middle.uk-flex.uk-flex-column.uk-flex-center
    .container-content
      include ../data/actions.pug
      include ../template/actions-infobox.pug
  block footWrap
block content2
  .uk-overflow-hidden
    .container-content.container-content_padding-all
      include ../template/auto-in.pug
  .footWrap
