.actions-filter.bg-box.bg-box_dark
  .container-content
    .form.uk-form.uk-text-center
      form(id="", method="", action="")
        .uk-form-row.actions-filter__row
          .actions-filter__item.uk-display-inline-block
            a(href="http://", target="_blank").btn.btn_white.uk-button Все акции
          .actions-filter__item.uk-display-inline-block
            label.label-check.uk-form-label
              input(type="checkbox")
              span Автомобили
          .actions-filter__item.uk-display-inline-block
            label.label-check.uk-form-label
              input(type="checkbox")
              span Кредит
          .actions-filter__item.uk-display-inline-block
            label.label-check.uk-form-label
              input(type="checkbox")
              span Сервис
