.actions-list
  .title Другие акции
  .actions-list__ul.uk-grid.uk-grid-small.uk-grid-width-large-1-4.uk-grid-width-medium-1-2.uk-grid-width-small-1-1
    each item in actions
      div
        figure.actions-list__item.uk-overlay.uk-overlay-hover
          a.actions-list__link(href="#")
            img(src= item.img, alt= item.name)
            figcaption
              .actions-list__cont
                .actions-list__name!= item.name
                .countdown(data-enddate= item.endDate)
            .uk-overlay-panel.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                i.uk-icon-eye
                div Посмотреть
