.actions-infobox__cont

      h2.actions-infobox__title!= actions[0].name
      p.actions-infobox__anons!= actions[0].anons
      .countdown-wrap
        .countdown-wrap__title До окончания акции:
        .countdown(data-enddate= actions[0].endDate)
