.auto-in
  .title Автомобили в наличии
  .auto-in__list.uk-grid.uk-grid-medium.uk-grid-width-large-1-2.uk-grid-width-medium-1-1
    .auto-in__item
      .uk-width-1-1.auto-in-item.uk-overlay.uk-overlay-hover(style="background-image: url('../img/trade-in.jpg')")
        a.auto-in-item__link.js-modal-foto(href="../lightbox-in.html")
        div
          .uk-flex.uk-flex-wrap.uk-flex-space-between
            .auto-in-item__cont.uk-flex.uk-flex-column.uk-flex-space-between
              .auto-in-item__title Lifan Myway
              .auto-in-item__char
                .auto-in-item__char-row
                  .auto-in-item__char-key: span Год
                  .auto-in-item__char-val: span 2011 г.
                .auto-in-item__char-row
                  .auto-in-item__char-key: span Пробег
                  .auto-in-item__char-val: span  68 000 км
                .auto-in-item__char-row
                  .auto-in-item__char-key: span Цена
                  .auto-in-item__char-val: span  290 000 Р
            .auto-in-item__preview
              a.auto-in-item__preview-item.active
                img(src="../img/trade-in.jpg", alt="", width="63", height="59")
              a.auto-in-item__preview-item
                img(src="../img/trade-in.jpg", alt="", width="63", height="59")
              a.auto-in-item__preview-item
                img(src="../img/trade-in.jpg", alt="", width="63", height="59")
        .uk-overlay-panel.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
          div
            i.uk-icon-eye
            div Посмотреть
    .auto-in__item
      .uk-width-1-1.auto-in-item.uk-overlay.uk-overlay-hover(style="background-image: url('../img/trade-in.jpg')")
        a.auto-in-item__link.js-modal-foto(href="../lightbox-in.html")
        .uk-flex.uk-flex-wrap.uk-flex-space-between
          .auto-in-item__cont.uk-flex.uk-flex-column.uk-flex-space-between
            .auto-in-item__title Lifan Myway
            .auto-in-item__char
              .auto-in-item__char-row
                .auto-in-item__char-key: span Год
                .auto-in-item__char-val: span 2011 г.
              .auto-in-item__char-row
                .auto-in-item__char-key: span Пробег
                .auto-in-item__char-val: span  68 000 км
              .auto-in-item__char-row
                .auto-in-item__char-key: span Цена
                .auto-in-item__char-val: span  290 000 Р
          .auto-in-item__preview
            a.auto-in-item__preview-item.active
              img(src="../img/trade-in.jpg", alt="", width="63", height="59")
            a.auto-in-item__preview-item
              img(src="../img/trade-in.jpg", alt="", width="63", height="59")
            a.auto-in-item__preview-item
              img(src="../img/trade-in.jpg", alt="", width="63", height="59")
        .uk-overlay-panel.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
          div
            i.uk-icon-eye
            div Посмотреть
    .auto-in__item
      .uk-width-1-1.auto-in-item.uk-overlay.uk-overlay-hover(style="background-image: url('../img/trade-in.jpg')")
        a.auto-in-item__link.js-modal-foto(href="../lightbox-in.html")
        .uk-flex.uk-flex-wrap.uk-flex-space-between
          .auto-in-item__cont.uk-flex.uk-flex-column.uk-flex-space-between
            .auto-in-item__title Lifan Myway
            .auto-in-item__char
              .auto-in-item__char-row
                .auto-in-item__char-key: span Год
                .auto-in-item__char-val: span 2011 г.
              .auto-in-item__char-row
                .auto-in-item__char-key: span Пробег
                .auto-in-item__char-val: span  68 000 км
              .auto-in-item__char-row
                .auto-in-item__char-key: span Цена
                .auto-in-item__char-val: span  290 000 Р
          .auto-in-item__preview
            a.auto-in-item__preview-item.active
              img(src="../img/trade-in.jpg", alt="", width="63", height="59")
            a.auto-in-item__preview-item
              img(src="../img/trade-in.jpg", alt="", width="63", height="59")
            a.auto-in-item__preview-item
              img(src="../img/trade-in.jpg", alt="", width="63", height="59")
        .uk-overlay-panel.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
          div
            i.uk-icon-eye
            div Посмотреть
