footer.footer
    .container-content
        .footer__row.uk-flex.uk-flex-wrap.uk-flex-middle
            .footer__left
              .foot-menu-auto
                a.foot-menu-auto__item
                  .foot-menu-auto__img
                    img(src="../img/logo-chery.png", alt="")
                  span Chery
                a.foot-menu-auto__item
                  .foot-menu-auto__img
                    img(src="../img/logo-lifan.png", alt="")
                  span Lifan
                a.foot-menu-auto__item
                  .foot-menu-auto__img
                    img(src="../img/logo-brilliance.png", alt="")
                  span Brilliance
            .footer__center
              include ../template/menu.pug
              +menu(mainMenu)(class="menu-main")
            .footer__right
              .footer__adres.
                  <strong>АМК-Екатеринбург</strong> <br> Екатеринбург, переулок Базовый, 10
              .footer__soc
                  a(href="http://", target="_blank").footer__soc-link
                      i.uk-icon-vk
