mixin header()
  header.header()&attributes(attributes)
    .container-content
      .uk-flex.uk-flex-space-between.uk-flex-wrap.uk-flex-middle
        .header__left
          .header__logo
            a(href="/")
              img(src="../img/logo-white.png")
          nav.header__nav
            include ../template/menu.pug
            +menu(mainMenu)(class="menu-main")
        .header__right
          a.header__phone(href="tel:+7 (343) 211 10 00 ") +7 (343) 211 10 00
          a(href="#modal-call", data-uk-modal)
            i.icon.sprite-i-phone-mobile
            span Бесплатный звонок
          | &nbsp;
          a(href="#modal-testdrive", data-uk-modal)
            i.icon.sprite-i-car
            span Запись на тест-драйв
          a.sidebar-tgl(href="#sidebar", data-uk-offcanvas) Меню #[i.uk-icon-bars]
