mixin header()
    header.header()&attributes(attributes)
        .container-content
            .uk-flex.uk-flex-space-between.uk-flex-wrap.uk-flex-middle
                .header__left
                    .header__logo
                      a(href="/")
                          img(src="../img/logo.png")
                    button(type="button", data-uk-modal="{target:'#modal-call'}").uk-button Бесплатный звонок
                    a(href="tel:+7 (343) 211 10 00 ") #[i.icon.sprite-i-phone-vol] +7 (343) 211 10 00
                    a(href="tel:+7 (922) 211 10 00 ") #[i.icon.sprite-i-phone-mobile] +7 (922) 211 10 00
                .header__center
                    .header__logo
                        a(href="/")
                            img(src="../img/logo.png")
                .header__right
                    span.header__adres Переулок Базовый,10
                    a(href="#modal-map", data-uk-modal, title="title") #[i.uk-icon-map-marker] Как проехать?
                    button(type="button", data-uk-modal="{target:'#modal-testdrive'}").uk-button Запись на тест-драйв
                    a.sidebar-tgl(href="#sidebar", data-uk-offcanvas) Меню #[i.uk-icon-bars]
