mixin hmAutoItem(name, price, bg, ...carBody)
    .hm-auto-item.uk-flex.uk-flex-bottom(style="background-image:url("+ bg +")")&attributes(attributes)
        .hm-auto-item__cont
            .hm-auto-item__name= name
            .hm-auto-item__price= 'от '+ price +' Р.'
            .hm-auto-item__car-body
                ul.hm-auto-item__car-body-list
                    each item in carBody
                        li
                            a(href="#", title= item)= item


.hm-auto.mainWrapper.uk-flex
  .hm-auto__wrap.uk-flex.uk-flex-wrap
    +hmAutoItem('Granta', '404 000', '../img/hm-auto-item.jpg', 'Хэтчбек', 'Универсал', 'Cross', 'Sport', 'NFR')
    +hmAutoItem('Kalina', '404 000', '../img/hm-auto-item.jpg', 'Хэтчбек', 'Универсал', 'Cross', 'Sport', 'NFR')
    +hmAutoItem('Priora', '404 000', '../img/hm-auto-item.jpg', 'Хэтчбек', 'Универсал', 'Cross', 'Sport', 'NFR')
    +hmAutoItem('Vesta', '404 000', '../img/hm-auto-item.jpg', 'Хэтчбек', 'Универсал', 'Cross', 'Sport', 'NFR')
    +hmAutoItem('Xray', '404 000', '../img/hm-auto-item.jpg', 'Хэтчбек', 'Универсал', 'Cross', 'Sport', 'NFR')
    +hmAutoItem('Largus', '404 000', '../img/hm-auto-item.jpg', 'Хэтчбек', 'Универсал', 'Cross', 'Sport', 'NFR')
    +hmAutoItem('4X4', '404 000', '../img/hm-auto-item.jpg', 'Хэтчбек', 'Универсал', 'Cross', 'Sport', 'NFR')
