-
    var slides = [{
        'title' : '<div>Уже в продаже</div><h1>Возвращение легенды</h1>',
        'caption': 'В автоцентре "Базовый" в продаже появилась новая модель<br>LAFANSOLANO II !',
        'img':'../img/slide.jpg',
        },
        {
          'title' : '<div>Уже в продаже</div><h1>Возвращение легенды</h1>',
          'caption': 'В автоцентре "Базовый" в продаже <br>появилась новая модель<br>LAFANSOLANO II !',
          'img':'../img/slide.jpg',
        }]
mixin slider()
  .hm-first-screen__top
  .hm-first-screen__center
    .hm-slider-wrap
      ul.hm-slider-wrap__bg#hm-slider
        each val, index in slides
          li(style="background-image: url('" + val.img+ "')")
      .hm-slider
        .container-content
          ul.hm-slider__caption#hm-slider-caption
            each val, index in slides
              li.uk-text-center
                .hm-slider__title!= val.title
                .hm-slider__caption!= val.caption
                include ../data/actions.pug
                .hm-slider__countdown
                  .countdown-wrap
                    .countdown-wrap__title До окончания акции:
                    .countdown(data-enddate= actions[index].endDate)
  .hm-first-screen__bottom
    #bx-pager.hm-slider__pager
        each val, index in slides
            a(href="#", data-slide-index= index).hm-slider__dotnav
