- var mainMenu = ['Автомобили', 'Акции', 'Сервис', 'Трейд-ин', 'Контакты']
- var footMenu = ['Granta','Kalina', 'Priora', 'Vesta', 'Xray', 'Largus', '4x4']
- var modalAutoAttr =''
mixin menu(arr)
    ul&attributes(attributes)
        each val, index in arr
            case index
                when 0
                  if arr == mainMenu
                    li(class!=attributes.class +'__item')
                      a(class!=attributes.class + '__link', href='#modal-auto', data-uk-modal)!= val
                  else
                    li(class!=attributes.class +'__item')
                        a(class!=attributes.class + '__link', href='#anchor-' + index)!= val
                when 2
                    li(class!=attributes.class +'__item').active
                        a(class!=attributes.class + '__link', href='#anchor-' + index)!= val
                default
                    li(class!=attributes.class +'__item')
                        a(class!=attributes.class + '__link', href='#anchor-' + index)!= val
