#modal-call.uk-modal.modal
    .uk-modal-dialog
      a(href="", class="modal__close uk-modal-close icon sprite-close-18")
      .form.form_light.uk-form.uk-form-stacked
        form(id="", method="", action="")
          .uk-form-row
            label.uk-form-label Вас зовут
            input.uk-width-1-1(type="text", placeholder="Введите ваше имя...")
          .uk-form-row
            label.uk-form-label Контактный телефон
            input.uk-width-1-1.js-mask-phone(type="text", placeholder="+7 (900) 000-00-00")
          .uk-form-row
            button.btn.uk-button.uk-button-primary.uk-width-1-1(type="submit") Перезвоните мне #[i.uk-icon-arrow-right]

      .uk-modal-caption Обратный звонок
//-
#modal-testdrive.uk-modal.modal
    .uk-modal-dialog
      a(href="", class="modal__close uk-modal-close icon sprite-close-18")
      .form.form_light.uk-form.uk-form-stacked
        form(id="", method="", action="")
          .uk-form-row
            label.uk-form-label Вас зовут
            input.uk-width-1-1(type="text", placeholder="Введите ваше имя...")
          .uk-form-row
            label.uk-form-label Контактный телефон
            input.uk-width-1-1.js-mask-phone(type="text", placeholder="+7 (900) 000-00-00")
          .uk-form-row
            label.uk-form-label Выберите марку
            .uk-form-select.uk-width-1-1(data-uk-form-select)
              span
              select
                option Модель не выбрана
                option Модель
          .uk-form-row
            label.uk-form-label Выберите модель
            .uk-form-select.uk-width-1-1(data-uk-form-select)
              span
              select
                option Модель не выбрана
                option Модель
          .uk-form-row
            button.btn.uk-button.uk-width-1-1(type="submit") Записаться на тест-драйв #[i.uk-icon-arrow-right]

      .uk-modal-caption Записаться на  тест-драйв
//-
#modal-map.uk-modal.modal
    .uk-modal-dialog.uk-modal-dialog-lightbox.modal__dialog-width-auto
      a(href="", class="uk-modal-close uk-close uk-close-alt")
      .modal-map
        .container-content.container-content_padding-all
          .h1 Схема проезда
          .map-switch.js-map-switch
            a.map-switch__item.uk-margin-small.uk-vertical-align(href="", style="background-image: url('../img/bg-map-switch-1.jpg')")
              .uk-vertical-align-bottom AMK-Екатеринбург
            a.map-switch__item.uk-margin-small.uk-vertical-align(href="", style="background-image: url('../img/bg-map-switch-2.jpg')")
              .uk-vertical-align-bottom Леруа Мерлен

        .map.
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2183.585946853844!2d60.65164331629693!3d56.81873598085186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16ea674c5c8bd%3A0xfa1a4b61ed96bc60!2z0JHQsNC30L7QstGL0Lkg0L_QtdGALiwgMTAsINCV0LrQsNGC0LXRgNC40L3QsdGD0YDQsywg0KHQstC10YDQtNC70L7QstGB0LrQsNGPINC-0LHQuy4sIDYyMDEwMA!5e0!3m2!1sru!2sru!4v1479712327111" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
//- AjAX
#modal-spinner.uk-modal.modal.uk-text-center
    .uk-modal-dialog.uk-modal-dialog-lightbox.modal__inline-block.no-background
      #modal-dialog-content.uk-hidden
      .uk-modal-caption
      .uk-modal-spinner
//- MODAL BLANK AUTO
#modal-auto.uk-modal.modal-blank
  .uk-modal-dialog.uk-modal-dialog-blank.no-background
    .modal-blank__top.uk-clearfix.uk-text-center
        a(href="", class="modal__btn uk-modal-close")
          i.icon.sprite-close
        div Закрыть
    .modal-auto.uk-grid.uk-grid-collapse.uk-grid-width-large-1-3
      .modal-auto__item.uk-flex.uk-flex-column.uk-flex-center(style="background-image: url('../img/slide.jpg')")
        .modal-auto__content
          .modal-auto__logo
            img(src="../img/logo-chery-big.png", alt="")
          .modal-auto__name Chery
          include ../template/menu.pug
          +menu(['Bonus', 'Indi5', 'Tiggo 5','Tiggo FL', 'Arrizo 7'])(class="menu-modal-auto")
      .modal-auto__item.uk-flex.uk-flex-column.uk-flex-center(style="background-image: url('../img/slideshow.jpg')")
        .modal-auto__content
          .modal-auto__logo
            img(src="../img/logo-lifan-big.png", alt="")
          .modal-auto__name Lifan
          include ../template/menu.pug
          +menu(['Bonus', 'Indi5', 'Tiggo 5','Tiggo FL', 'Arrizo 7'])(class="menu-modal-auto")
      .modal-auto__item.uk-flex.uk-flex-column.uk-flex-center(style="background-image: url('../img/trade-in.jpg')")
        .modal-auto__content
          .modal-auto__logo
            img(src="../img/logo-brilliance-big.png", alt="")
          .modal-auto__name Brilliance
          include ../template/menu.pug
          +menu(['H530', 'V5', 'H320 Sedan'])(class="menu-modal-auto")
