.container-content.container-content_padding-all
  .title  Описание и фото
.caption-and-foto
  .uk-grid.uk-grid-collapse.uk-grid-width-medium-1-2
    .caption-and-foto__item.caption-and-foto__item_caption.uk-vertical-align
      .content.uk-vertical-align-middle
        p.
          Новинкой в семье автомобилей марки Chery стала малолитражная и маневренная Чери Бонус 3, сошедшая с конвейера в 2014 году. Этот бюджетный седан обещает в скором времени стать символом практичности и комфорта, лишенного излишней вычурности.
        p.
          <b>Экстерьер Chery Bonus 3</b>
          Новинкой в семье автомобилей марки Chery стала малолитражная и маневренная Чери Бонус 3, сошедшая с конвейера в 2014 году. Этот бюджетный седан обещает в скором времени стать символом практичности и комфорта, лишенного излишней вычурности.
        a.more.js-modal-foto(href="../lightbox-foto.html") Посмотреть фото Chery Bonus 3 #[i.uk-icon-arrow-right]

    .caption-and-foto__item.caption-and-foto__item_foto
      img(src="../img/captionfoto.jpg")
.caption-and-foto
  .uk-grid.uk-grid-collapse.uk-grid-width-medium-1-2
    .caption-and-foto__item.caption-and-foto__item_foto
      img(src="../img/captionfoto.jpg")
    .caption-and-foto__item.caption-and-foto__item_caption.uk-vertical-align
      .content.uk-vertical-align-middle
        p.
          Новинкой в семье автомобилей марки Chery стала малолитражная и маневренная Чери Бонус 3, сошедшая с конвейера в 2014 году. Этот бюджетный седан обещает в скором времени стать символом практичности и комфорта, лишенного излишней вычурности.
        p.
          <b>Экстерьер Chery Bonus 3</b>
          Новинкой в семье автомобилей марки Chery стала малолитражная и маневренная Чери Бонус 3, сошедшая с конвейера в 2014 году. Этот бюджетный седан обещает в скором времени стать символом практичности и комфорта, лишенного излишней вычурности.
        a.more.js-modal-foto(href="../lightbox-foto.html") Посмотреть фото Chery Bonus 3 #[i.uk-icon-arrow-right]
