.models
  .models__item
    .container-content.container-content_padding-all
      .title Granta
      .models-list
        .models-list__item.figure.uk-overlay.uk-overlay-hover
          a(href="http://", target="_blank")
            img(src="../img/img-model.jpg", alt="", width="233", height="321")
            figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-ignore.uk-flex.uk-flex-bottom.uk-flex-middle.uk-text-center
              div
                h3.models-list__title Седан
                .models-list__cont.
                  Granta – незаменимый помощник. Она проедет по любой дороге, помощник. Она проедет по любой дороге, поможет провезти самый разный груз, научит вождению и станет другом, потому что она - настоящий народный автомобиль. Выразительность дизайна, который не оставляет равнодушным никого - фирменная особенность LADA Granta
        .models-list__item.figure.uk-overlay.uk-overlay-hover
          a(href="http://", target="_blank")
            img(src="../img/img-model.jpg", alt="", width="233", height="321")
            figcaption.uk-overlay-panel.uk-overlay-background.uk-flex.uk-flex-bottom.uk-flex-middle.uk-overlay-ignore.uk-text-center
              div
                h3.models-list__title Универсал 7 мест
                .models-list__cont.
                  Granta – незаменимый помощник. Она проедет по любой дороге, помощник. Она проедет по лю
  .models__item
    .container-content.container-content_padding-all
      .title Granta
      .models-list
        .models-list__item.figure.uk-overlay.uk-overlay-hover
          a(href="http://", target="_blank")
            img(src="../img/img-model.jpg", alt="", width="233", height="321")
            figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-ignore.uk-flex.uk-flex-bottom.uk-flex-middle.uk-text-center
              div
                h3.models-list__title Седан
                .models-list__cont.
                  Granta – незаменимый помощник. Она проедет по любой дороге, помощник. Она проедет по любой дороге, поможет провезти самый разный груз, научит вождению и станет другом, потому что она - настоящий народный автомобиль. Выразительность дизайна, который не оставляет равнодушным никого - фирменная особенность LADA Granta
        .models-list__item.figure.uk-overlay.uk-overlay-hover
          a(href="http://", target="_blank")
            img(src="../img/img-model.jpg", alt="", width="233", height="321")
            figcaption.uk-overlay-panel.uk-overlay-background.uk-flex.uk-flex-bottom.uk-flex-middle.uk-overlay-ignore.uk-text-center
              div
                h3.models-list__title Универсал 7 мест
                .models-list__cont.
                  Granta – незаменимый помощник. Она проедет по любой дороге, помощник. Она проедет по лю
  .models__item
    .container-content.container-content_padding-all
      .title Granta
      .models-list
        .models-list__item.figure.uk-overlay.uk-overlay-hover
          a(href="http://", target="_blank")
            img(src="../img/img-model.jpg", alt="", width="233", height="321")
            figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-ignore.uk-flex.uk-flex-bottom.uk-flex-middle.uk-text-center
              div
                h3.models-list__title Седан
                .models-list__cont.
                  Granta – незаменимый помощник. Она проедет по любой дороге, помощник. Она проедет по любой дороге, поможет провезти самый разный груз, научит вождению и станет другом, потому что она - настоящий народный автомобиль. Выразительность дизайна, который не оставляет равнодушным никого - фирменная особенность LADA Granta
        .models-list__item.figure.uk-overlay.uk-overlay-hover
          a(href="http://", target="_blank")
            img(src="../img/img-model.jpg", alt="", width="233", height="321")
            figcaption.uk-overlay-panel.uk-overlay-background.uk-flex.uk-flex-bottom.uk-flex-middle.uk-overlay-ignore.uk-text-center
              div
                h3.models-list__title Универсал 7 мест
                .models-list__cont.
                  Granta – незаменимый помощник. Она проедет по любой дороге, помощник. Она проедет по лю
  .models__item
    .container-content.container-content_padding-all
      .title Granta
      .models-list
        .models-list__item.figure.uk-overlay.uk-overlay-hover
          a(href="http://", target="_blank")
            img(src="../img/img-model.jpg", alt="", width="233", height="321")
            figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-ignore.uk-flex.uk-flex-bottom.uk-flex-middle.uk-text-center
              div
                h3.models-list__title Седан
                .models-list__cont.
                  Granta – незаменимый помощник. Она проедет по любой дороге, помощник. Она проедет по любой дороге, поможет провезти самый разный груз, научит вождению и станет другом, потому что она - настоящий народный автомобиль. Выразительность дизайна, который не оставляет равнодушным никого - фирменная особенность LADA Granta
        .models-list__item.figure.uk-overlay.uk-overlay-hover
          a(href="http://", target="_blank")
            img(src="../img/img-model.jpg", alt="", width="233", height="321")
            figcaption.uk-overlay-panel.uk-overlay-background.uk-flex.uk-flex-bottom.uk-flex-middle.uk-overlay-ignore.uk-text-center
              div
                h3.models-list__title Универсал 7 мест
                .models-list__cont.
                  Granta – незаменимый помощник. Она проедет по любой дороге, помощник. Она проедет по лю
