.model-test-drive.bg-cover
  .model-test-drive__bg(style="background-image:url('../img/bg-model-action.jpg')")
  .container-content
    .uk-grid
      .uk-width-large-3-10.uk-width-xlarge-2-10
      .uk-width-large-7-10.uk-width-xlarge-8-10#anchor-3
        .uk-clearfix.uk-grid.uk-grid-divider
          .uk-width-medium-1-2
            .uk-float-left.model-test-drive__form-box
              .title <span class="font">Записаться</span> на тест-драйв
              .form.form_transparent.uk-form.uk-form-stacked
                .uk-form-row
                  label.uk-form-label Вас зовут
                  input(type="text", placeholder="Введите ваше имя...").uk-width-1-1
                .uk-form-row
                  label.uk-form-label Контактный телефон
                  input(type="text", placeholder="+7(900) 000-00-00").js-mask-phone.uk-width-1-1
                .uk-form-row
                  label.uk-form-label Выберите автомобиль
                  select.uk-width-1-1
                    option Не выбрано
                    option Granta
                .uk-form-row
                  button(type="submit").btn.btn_ghost.uk-button.uk-width-1-1 Записаться на тест-драйв
          .uk-width-medium-1-2
            .uk-float-right.model-test-drive__form-box
              .title <span class="font">Бесплатный</span> звонок
              .form.form_transparent.uk-form.uk-form-stacked
                .uk-form-row
                  label.uk-form-label Вас зовут
                  input(type="text", placeholder="Введите ваше имя...").uk-width-1-1
                .uk-form-row
                  label.uk-form-label Контактный телефон
                  input(type="text", placeholder="+7(900) 000-00-00").js-mask-phone.uk-width-1-1
                .uk-form-row
                  button(type="submit").btn.btn_ghost.uk-button.uk-width-1-1 Записаться на тест-драйв
