mixin page-title(h1, ...items)
    .page-title&attributes(attributes)
        .container-content
            include ../template/breadcrumbs.pug
            +breadcrumbs(h1, ...items)
            h1.page-title__h1!= h1
