#sidebar.sidebar.uk-offcanvas
    .uk-offcanvas-bar
        .sidebar__wrapp.uk-flex
            .sidebar__bar.uk-flex.uk-flex-column.uk-flex-space-between
                div
                .sidebar__logo
                    a(href="/")
                        img(src="../img/logo-white.png", alt="")
                nav.sidebar__nav
                    include ../template/menu.pug
                    +menu(mainMenu)(class="menu-sidebar")
                div
                .sidebar__bottom
                  .uk-margin
                    a(href="tel:+7 (343) 211 10 00 ") #[i.icon.sprite-i-phone-vol] +7 (343) 211 10 00
                  .uk-margin.form
                    button(type="button", data-uk-modal="{target:'#modal-call'}").uk-button Бесплатный звонок
                  .uk-margin.form
                    button(type="button", data-uk-modal="{target:'#modal-testdrive'}").uk-button Записаться на тест-драйв
