.slidecarousel
  ul#slidecarousel
    li: img(src="../img/slideshow.jpg", alt="")
    li: img(src="../img/slideshow.jpg", alt="")
    li: img(src="../img/slideshow.jpg", alt="")
    li: img(src="../img/slideshow.jpg", alt="")
    li: img(src="../img/slideshow.jpg", alt="")
  .slidecarousel__pager
    #slidecarousel-bx-pager
      a(data-slide-index="0", href=""): img(src="../img/slideshow.jpg", width="128", height="80")
      a(data-slide-index="1", href=""): img(src="../img/slideshow.jpg", width="128", height="80")
      a(data-slide-index="2", href=""): img(src="../img/slideshow.jpg", width="128", height="80")
      a(data-slide-index="3", href=""): img(src="../img/slideshow.jpg", width="128", height="80")
      a(data-slide-index="3", href=""): img(src="../img/slideshow.jpg", width="128", height="80")
