.actions-infobox {
  margin-bottom: 50px;

  &__anons {
    .font-l;
    font-size: 20px;
    margin: 0 auto 50px;
  }
  &__title {
    .font;
    margin: 0;
    font-weight: normal;
    font-size: 40px;
    b, strong {
      .font;
      font-weight: normal;
    }
  }
  &__cont {
    text-align: center;
    padding: 30px 25px;
    color: inherit;
  }
}

.actions-infobox-slider {
  .bx-pager {

  }
  .bx-wrapper {
    margin: 0 auto;
    border: none;
    background: none;
    box-shadow: none;
  }
  .bx-wrapper .bx-pager.bx-default-pager a{
    background: #fff;
    opacity: 0.44;
    width: 23px;
    height: 4px;
    display: inline-block;
    position: relative;
    margin: 2px;
    &.active {
        background: #d62631;
        opacity: 1;
    }
  }
}
@media only screen and (max-width:@breakpoint-medium) {
  .actions-infobox {
    &__filter-item {
      display: block;
      margin: 3px auto;
      width: 100%;
      max-width: 165px;
      text-align: left;
    }
  }
}
