.actions-list {
  &__ul {
    & > div {
      margin-bottom: 10px;
    }
  }
  &__cont {
    padding: 30px;
  }
  &__item {
    &:before {
      content:'';
      display: block;
      border: 1px solid #cfcfcf;
      pointer-events: none;
      position: absolute;
      margin: auto;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      opacity: 0.57;
    }
    .countdown {
      font-size: 19px;
      margin: 13px 0;
      color: @col-font;
      .countDiv {
        vertical-align: top;
        height: 1.6em;
      }
      .countDiv:after, .countDiv:before {
        background: #cdcdcd;
        width: 3px;
        height: 3px;
        margin-left: -1.5px;
      }
      left: 20px;
      top: 15px;
      z-index: 3;
      margin-left: -2px;
      margin-right: -2px;
      .countBox {
        font-size: 19px;
        margin-left: 2px;
        margin-right: 2px;
        color: @col-font;
        .countdown-hint {
          font-size: 9px;
          .font;
          bottom: -10px;
        }
      }
    }
  }
}
