.auto-fotogallery {
  &__list {
    margin: 15px -1px;
    .clearfix;
  }

  &__item {
    margin: 1px;
    float: left;
  }
  &_2 {
    position: relative;
    .slidecarousel {
      width: 890px;
      // height: 522px;
      overflow: hidden;
    }
    .slidecarousel__pager {
      position: absolute;
      bottom: 0;
    }
  }
}

@media only screen and (max-width: @breakpoint-small) {
  .auto-fotogallery {
    &_2{
      .slidecarousel__pager {
        position: relative;
      }
    }
  }
}
