.auto-in {
  &__item {
    margin-bottom: 20px;
  }
  &__img {
    margin-bottom: 10px;
    width: 293px;
    // height: 182px;
    max-width: 100%;
    img {
      object-fit: cover;
    }
  }
  &__link {
    color: inherit;
  }
}
.auto-in-item {
  padding: 10px;
  position: relative;
  color: #fff;
  .font;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  &__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 4;
  }
  .uk-overlay-panel {
    z-index: 3;
  }
  &:after {
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.39);
  }
  &__title {
    font-size: 20px;
    max-width: 260px;
  }
  &__char {

  }
  &__char-row {
    .clearfix;
    max-width: 260px;
  }
  &__char-key {
    float: left;
    margin-right: 2px;
  }
  &__char-val {
    overflow: hidden;
    text-align: right;
    span {
      float: right;
      margin-left: 2px;
    }
    &:after {
      content: '';
      overflow: hidden;
      display: block;
      height: 1em;
      border-bottom: 1px dotted #fff;
    }
  }
  &__cont {
    position: relative;
    z-index: 2;
    // max-width: 260px;
    // width: 100%;

    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    -ms-flex-grow: 2;
    -o-flex-grow: 2;
    flex-grow: 2;
  }
  &__preview {
    position: relative;
    z-index: 2;
  }
  &__preview-item {
    display: block;
    margin: 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 60px;
    width: 63px;
    overflow: hidden;
    img {
      object-fit: cover;
      height: inherit;
    }
    &.active {
      border: 1px solid #fff;
    }
  }
}

@media only screen and (max-width:@breakpoint-small){
  .auto-in-item {
    &__cont {
      max-width: none;
    }
    &__preview {
      margin: 10px -5px 0;
    }
    &__preview-item {
      float: left;
      margin: 5px;
    }
  }
}
