.caption-and-foto {
  &__item {
    position: relative;
    &:after {
      content: '';
      display: block;
      pointer-events: none;
      position: absolute;
      border: 1px solid rgba(255, 255, 255, 0.24);
      top: 25px;
      bottom: 25px;
      right: 25px;
      left: 25px;
      z-index: 3;
    }
    &:first-child {
      &:after {
        right: 0;
        border-right: 0;
      }

    }
    &:last-child {
      &:after {
        left: 0;
        border-left: 0;
      }

    }
    &_caption {
      &:after {

        border: 1px solid #edeef6;

      }
      .content {
        padding: 40px;
      }
    }
    &_foto {
      &:after {

      }
      img {
        object-fit: cover;
        width: 100%;
      }
    }

    .more {
      display: inline-block;
      margin-top: 20px;
      .font;
      color: inherit;
      i {
        color: @col-active;
      }
    }
  }

}
