.contacts-page {
  position: relative;
  min-height: inherit !important;
  .map {
    pointer-events: all;
  }
  & > .container-content {
    min-height: calc(~"100vh - 178.5px - 125px");
  }
}
.contact-info {
  // max-width: 340px;
  position: relative;
  z-index: 3;
  margin-top: 220px;
  &__item {
    background: #fff;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid @col-border;
    // background: #fff;
    // &:before {
    //   content:'';
    //   display: block;
    //   clear: both;
    //   background: @col-active;
    //   width: 6px;
    //   height: 6px;
    //   border-radius: 1px;
    //   margin-bottom: 15px;
    // }
    &:first-child {
      &:before {
        .hidden;
      }
    }
  }
}

@media only screen and (min-width: @breakpoint-medium) {
  .contact-info {
    &__item {
      padding: 30px 60px;
    }
  }
  .contacts-page {
    .map {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
