.countdown-wrap {
  text-align: center;
  &__title {
    text-transform: uppercase;
    font-size: 13px;
  }
}
.countdown {
  width: auto;
  overflow: hidden;
  .inblock();
  .countSeconds {
    .hidden;
  }
  .countDiv {
    height: 1.3em;
    &:after, &:before {
      background: #fff;
      box-shadow: none;
    }
    &.countDiv2 {
      .hidden;
    }
  }

  .countBox {
    color: #fff;
    display: inline-block;
    margin: 0 1px;
    font-size: 27px;
    position: relative;
    .font-l;
    padding: 0px;
    margin-bottom: 20px;
    .position {
      background: @col-active;
      width: 1em;
      height: 1.5em;
      // float: left;
      border-radius: 0.2em;
    }
    .digit {
      background: none;
      -webkit-box-shadow: none;
      box-shadow: none;

    }
  }
  .countdown-hint {
    display: block;
    font-size: 12px;
    clear: both;
    letter-spacing: normal;
    position: absolute;
    bottom: -17px;
    text-align: center;
    width: 100%;
    left: 0;
  }
}
