.footer-menu {
    .list-reset;
    margin: 0 -10px 10px;
    &__item{
        .inblock(middle);
        margin: 0 10px 5px;
        font-size: 16px;
        &.active, &:hover {
            color: @col-active;
        }
    }
    &__link {
        color: inherit;
        // text-decoration: none !important;
    }
}
