.footWrap {
    height: @footer-height;
}
.foot-menu-auto {
  margin: 0 -15px;
  &__item {
    margin: 10px 15px;
    .inblock();
    text-align: center;
    span {
      display: block;
    }
    color: @col-font;
  }
  &__img {
    height: 55px;
    width: 55px;
    position: relative;
    display: block;
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
.footer {
    min-height: @footer-height;
    margin-top: -@footer-height;
    background: #eff0f1;
    color: @col-font;
    overflow: hidden;
    z-index: 2;
    position: relative;
    &__left {
        width: 290px;
        max-width: 100%;
        min-height: @footer-height;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-right: 1px solid #fff;
        padding: 15px 15px 15px 0px;
        flex-shrink: 0;
    }
    &__center {
      -webkit-flex-grow: 5;
      -moz-flex-grow: 5;
      -ms-flex-grow: 5;
      -o-flex-grow: 5;
      flex-grow: 5;
      text-align: center;
    }
    &__right {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 290px;
        max-width: 100%;
        padding: 15px 0px 15px 15px;
        min-height: @footer-height;
        border-left: 1px solid #fff;
    }

    &__soc {

    }
    &__txt {
        font-size: 12px;
        .font-l;
    }
    &__soc-link {
        .inblock(middle);
        color: @col-primary;
        text-decoration: none !important;
        text-align: center;
        font-size: 20px;
    }
}

@media only screen and (max-width: @breakpoint-medium) {
    .footer {
        &__row {
          -ms-flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
        }
        &__left {
            width: 100%;
            padding-right: 0;
            border: none;
            text-align: center;
        }
        &__right {
            padding-left: 0;
            width: 100%;
            border: none;
            text-align: center;
        }
    }
}
