.header {
    position: relative;
    z-index: 3;
    color: #fff;
    font-size: 16px;
    padding: 13px 0;
    &__phone {
      .inblock(middle);
      .font;
      font-size: 18px;
    }
    .container-content {
        max-width: 1330px;
    }
    &_bg {
      background: #000;
    }
    a {
        color: inherit;
    }
    &__logo {
        margin: 0 10px;
        .inblock(middle);
    }
    &__nav {
      .inblock(middle);
    }
    &__right {
      &>* {
          margin-right: 15px;
          &:last-child {
              margin-right: 0;
          }
      }
    }
    &__right {

    }
    &_hm {
        .header__left {
          .header__logo {
            display: none;
          }
            &>* {
                margin-left: 25px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        .header__right {
            &>* {
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 1120px) {
  .header {
    &__nav {
      .hidden;
    }
    &__left {
      & > * {
        display: none;
      }
      .header__logo {
        display: block !important;
      }
    }
    &__center {
      display: none;
    }
    &__right {
      & >* {
        display: none;
      }
      .sidebar-tgl {
        display: inline-block;
      }
    }
  }
}
@media only screen and (min-width: 1120px) {
  .sidebar-tgl {
    .hidden;
  }
}
