.hm-auto {
  min-height: 305px;
    .hm-auto-item {
        width: 205px;
    }
    &__wrap {
      min-height: 100vh;
      width: 100%;
      -webkit-flex-grow: 2;
      -moz-flex-grow: 2;
      -ms-flex-grow: 2;
      -o-flex-grow: 2;
      flex-grow: 2;
    }
}
.hm-auto-item {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -o-flex-grow: 1;
    flex-grow: 1;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    overflow: hidden;
    position: relative;
    min-height: 350px;
    &__link {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
    &:after {
        content: '';
        .animated-css3();
        width: 0;
        display: block;
        height: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        // border-radius: 50%;
        background: @col-active;
        opacity: 0;
        visibility: hidden;
    }
    &__cont {
        padding: 45px 20px;
        z-index: 3;
        position: relative;
        width: 100%;
    }
    &__name {
        font-size: 25px;
        &:after {
            content: '';
            display: block;
            background: #fff;
            width: 5px;
            height: 5px;
            margin: 5px auto;
            border-radius: 50%;
        }
    }
    &__price {
        font-size: 16px;
        .font-b;
    }
    &__car-body {
        overflow: hidden;
        .animated-css3(all, 0.8s);
        max-height: 0;
    }
    &__car-body-list {
        .list-reset;
        padding-top: 15px;
        a {
            color: inherit;
            &:hover {
                color: inherit;
            }
        }
    }
    &:hover {
        &:after {
            height: 100%;
            opacity: 0.66;
            visibility: visible;
        }
        .hm-auto-item__car-body {
            max-height: 1080px;
            max-height: 100vh;
        }
    }
}
