.hm-about {
    &__title {
        text-transform: uppercase;
        .font-b;
        font-size: 27px;
        display: inline-block;
        border-left: 4px solid @col-active;
        padding-left: 14px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
}
