.hm-first-screen {
    flex-direction:row;
    width: 100%;

    &__left, &__right {
      -webkit-flex-grow: 2;
      -moz-flex-grow: 2;
      -ms-flex-grow: 2;
      -o-flex-grow: 2;
      flex-grow: 2;
      min-height: 100vh;
      padding: 20px;
      position: relative;
    }
    &__left {
      &:after {
        content:'';
        display: block;
        pointer-events: none;
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.24);
        border-right: 0;
        top: 17px;
        bottom: 17px;
        right: 0px;
        left: 17px;
        z-index: 3;
      }
    }
    &__right {
      text-align: center;
      &:after {
        content:'';
        display: block;
        pointer-events: none;
        position: absolute;
        border: 1px solid rgba(153, 153, 163, 0.3);
        border-left: 0;
        top: 17px;
        bottom: 17px;
        right: 17px;
        left: 0px;
        z-index: 3;
      }
    }
    &__cont {
        width: 100%;
        min-height: 100vh;
    }
    &__phone {
      .font;
      font-size: 18px;
      color: inherit;
      text-decoration: none;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
    &__content {
      max-width: 625px;
      margin: auto;
      a {
        text-decoration: none !important;
        color: @col-font;
        &:hover {
          color: @col-active;
        }
      }
    }
    &__top {
      min-height: 40px;
      padding: 40px 0;
    }
    &__bottom {
        position: relative;
        z-index: 5;
        padding: 40px 10px;
        min-height: 40px;
    }
    &__menu {
        background: #fff;
        padding: 10px 0;
        text-align: center;
        margin: 0px auto 60px;
    }
}


@media only screen and (max-width: @breakpoint-large) {
  .hm-first-screen {
    &__left {
      &:after {
        right: 17px;
        border: 1px solid rgba(255, 255, 255, 0.24);
      }
    }
    &__right {
      &:after {
        left: 17px;
        border: 1px solid rgba(153, 153, 163, 0.3);
      }
    }
  }
}
