.hm-slider-wrap {
    .bx-wrapper {
        background: none;
        margin: 0;
        border:none;
        box-shadow: none;
    }
    &>.bx-wrapper{
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
        .bx-viewport {
            height: 100% !important;
        }
    }
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            height: 100%;
            background-position: 50% 50%;
            -webkit-background-size: cover;
            background-size: cover;
        }
        &:after {
            content:'';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            margin: auto;
            background: rgba(0, 0, 0, 0.32);
        }
    }
}

.hm-slider {
    position: relative;
    z-index: 3;
    color: #fff;
    margin: 40px 0;
    &__caption {
        text-align: center;
        color: #fff;
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 16px;
        img {
            display: inline-block;
        }
    }
    &__countdown {
      margin-top: 30px;
      min-height: 95px;
    }
    &__title {
      .font-l;
      font-size: 20px;
      h1,h2,h3,h4,h5,h6 {
        margin: 0;
        .font-l;
      }
      h1 {
        font-size: 40px;
      }
      &:after {
        content:'';
        width: 5px;
        height: 5px;
        background: @col-active;
        border-radius: 50%;
        display: block;
        margin: 10px auto;
      }
    }
    &__pager {
        text-align: center;
    }
    &__dotnav {
        background: #fff;
        opacity: 0.44;
        width: 23px;
        height: 4px;
        display: inline-block;
        position: relative;
        margin: 2px;
        &.active {
            background: #d62631;
            opacity: 1;
        }
    }
    .bx-wrapper .bx-controls-direction a {
        text-indent: 0;
        // font-family: 'FontAwesome';
        text-decoration: none !important;
        color: inherit;
        text-align: center;
        text-align: center;
        margin: 0;
        &:before {
            content:'';
            border: 1px dashed #fff;
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -18px;
            margin-left: -18px;
            width: 36px;
            height: 36px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
        }
        &:hover {
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }
        &.bx-prev {
            .sprite-i-arr-left;
        }
        &.bx-next {
            .sprite-i-arr-right;
        }
    }
}
