.menu-anchor {
    .list-reset;
    .font;
    background: #000;
    position: relative;
    color: #fff;
    text-align: center;
    margin: 35px -25px;
    &:first-child {
      margin-top: 0;
    }
    &:before, &:after {
      content: '';
      position: absolute;
      background: inherit;
      width: 4000px;
      height: 100%;
      top: 0;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
    &__item {
        .inblock();
        position: relative;
        margin: 10px 25px;
        color: inherit;
        &:before, &:after {
            content: '';
            .inblock(middle);
            .animated-css3(all);
            background: @col-active;
            width: 3px;
            height: 3px;
            position: absolute;
            top: 50%;
            margin-top: -1.5px;
            opacity: 0;
        }
        &:before {
            left: 50%;
        }
        &:after {
            right: 50%;
        }
        &.active, &:hover {
            color: @col-active;
            &:before, &:after {
                opacity: 1;
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }
    }
    &__link {
        color: inherit;
        display: block;
        padding: 0px 9px;
    }
}
