.menu-main {
    .list-reset;

    &__item {
        .inblock();
        position: relative;
        margin: 0 20px 3px;
        color: inherit;
        text-decoration: none;
        .font;
        &.active,
        &:hover {
            text-decoration: none;
            color: @col-active;
        }
    }

    &__link {
        color: inherit;
        display: block;
    }
}
