.model-char {
  width: 100%;
  max-width: 424px;
  overflow: auto;
  &__tbl {
    background: #000;
    background: rgba(0,0,0,0.5);
    color: #fff;
    width: 100%;
    margin: -1px;
    border-collapse: collapse;
    tr {
      &:first-child {
        td, th {
          border-top: none;
        }
      }
    }
    td, th {
      .font;
      font-weight: normal;
      border: 1px solid #fff;
      border: 1px solid rgba(255,255,255,0.2);
      padding: 10px 25px;
    }
    td {
      text-align: center;
    }
  }
}
