.page-title {
  padding: 20px 0;
  // margin-bottom: 30px;
  color: inherit;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
  & + * {
    margin-top: 30px;
  }
  &__h1 {
    margin: 0;
    font-size: 38px;
    text-transform: uppercase;
  }

}
