.second-menu {
  .list-reset;
  background: #000;
  position: relative;
  margin: 35px -25px;
  &:before, &:after {
    content: '';
    position: absolute;
    background: inherit;
    width: 4000px;
    height: 100%;
    top: 0;
  }
  &:before {
    right: 100%;
  }
  &:after {
    left: 100%;
  }
  &__item {
    color: #fff;
    .inblock();
    margin: 15px 25px;
    &.active {
      color: @col-active;
    }
  }
  &__link {
    color: inherit;
    text-decoration: none;

  }
}
