.offcanvas-bar {
    z-index: 10;
    background: #000;
    width: 55px;
    height: 55px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    color: #9c9c9c;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}


.sidebar {
    background: none;
    background: rgba(0, 0, 0, 0.4);
    * {
        flex-shrink: 0;
    }
    .uk-offcanvas-bar {
        color: #fff;
        background: #000;
        background: rgba(0, 0, 0, 0.85);
    }
    &__wrapp {
        height: 100vh;
        padding: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    &__bar {
        width: 100%;
        text-align: center;
        overflow: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    a {
        color: inherit;
        &:hover {
            color: inherit;
            text-decoration: underline;
        }
    }
}

.menu-sidebar {
    .list-reset;
    &__item {
        font-size: 18px;
        margin: 10px 0;
    }

}
