.slidecarousel {
  width: 1200px;
  max-width: 100%;
  .bx-wrapper {
    margin: 0 auto 2px;
    border: none;
    box-shadow: none;
    background: none;
  }
  &__pager {
      padding-left: 42px;
      padding-right: 42px;

      .bx-wrapper .bx-controls-direction a {
        display: block;
        height: 100%;
        text-align: center;
        line-height: 72px;
        width: 40px;
        top: 0;
        color: #fff;
        margin-top: 0;
        text-indent: inherit;
        &:hover {
          background: @col-active;
        }
        font-family: FontAwesome;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &.bx-prev {
          left: -42px;

          &:before {
            content: "\f104";
            display: inline-block;
          }
        }
        &.bx-next {
          right: -42px;
          &:before {
            content: "\f105";
            display: inline-block;
          }

        }
      }
  }
}
