.switch {
  .list-reset;
  .clearfix;
  margin: 20px -10px;
  &__item {
    font-size: 14px;
    color: inherit;
    color: #fff;
    .inblock(middle);
    margin: 0 10px;
    &.uk-active, &:hover {
      color: @col-active;
    }
  }
  &__link {
    color: inherit !important;
    text-decoration: none !important;
    display: block;
  }
}
