.h1 {
  text-transform: uppercase;
  font-size: 38px;
  margin-bottom: 0.4em;
}
body a { 
    color: @col-active;
    &:hover, &:focus {
        color: @col-active;
    }
}
b, strong {
  .font;
  font-weight: normal;
}

.content {
    ul {
        .list-reset;
        line-height: 1.5;
        li {
            padding-left: 13px;
            position: relative;
            &:before {
                content:'';
                display: block;
                position: absolute;
                top: 0.8em;
                left: 0;
                width: 6px;
                height: 6px;
                margin-top: -3px;
                background: @col-active;
                border-radius: 50%;
            }
            &:after {
                content:'';
                display: block;
                position: absolute;
                top: 0.8em;
                left: -2px;
                width: 10px;
                height: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                margin-top: -5px;
                border: 1px dotted @col-active;
                border-radius: 50%;
            }
        }
    }
    ol {
      .list-reset;
      line-height: 2;
      counter-reset: list;
      li {
        padding-left: 24px;
        position: relative;
        &:before {
          counter-increment: list;
          content: counter(list) ". ";
          line-height: 20px;
          position: absolute;
          left: 0;
          top: 2px;
          font-size: 20px;
          color: @col-active;
        }
      }
    }
    .tbl-wrap {
      overflow: auto;
      max-width: 100%;
      table {
        width: 100%;
        border-collapse: collapse;
        tr {
          &:nth-child(even) {
            background: @col-bg;
          }
        }
        tbody
          tr {
            &:first-child {
              td {
                background: @col-active;
                color: #fff;
              }
            }
          }
        th, td {
          text-align: center;
          padding: 5px 10px;
          border: 1px solid @col-border;
          &:first-child {
            text-align: left;
          }
        }
      }
    }
}

.title {
  .font;
  font-size: 20px;
  line-height: 1.2;
  margin: 1em 0;
  padding-left: 50px;
  position: relative;
  &:before {
    content:'';
    position: absolute;
    display: block;
    background: @col-active;
    width: 5px;
    height: 5px;
    border-radius: 1px;
    left: 35px;
    top: 10px;
    -webkit-box-shadow: -15px 0 @col-active, -30px 0 @col-active;
    box-shadow: -15px 0 @col-active, -30px 0 @col-active;
  }
  &:first-child {
    margin-top: 0;
  }
  &_small {
    font-size: 18px;
  }
}
