.uk-form-select select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bg-box_dark {
  .label-check {
    input[type="checkbox"] {
      & + span {
        &:before {
          .sprite-i-chekbox-white;
        }
      }
    }
  }

}
.bg-box_muted {
  .form_light {
      input:not([type]),  input[type=text],  input[type=password],  input[type=email],  input[type=url],  input[type=tel],  input[type=datetime],  input[type=datetime-local],  input[type=date],  input[type=month],  input[type=time],  input[type=week],  input[type=color],  input[type=number],  input[type=search],  select,  textarea, .uk-form-select span {
        background: #fff;
      }
  }
}
.label-check, .label-radio {
    padding: @form-padding;
    cursor: pointer;
    input[type='radio'] {
        position: absolute;
        left: -9999px;
        opacity: 0;
        visibility: hidden;
    }
    input[type="checkbox"] {
        position: absolute;
        left: -9999px;
        opacity: 0;
        visibility: hidden;
        & + span {
            padding-left: 26px;
            .inblock(middle);
            position: relative;
            &:before {
                content:'';
                display: block;
                width: 18px;
                height: 18px;
                margin-left: -26px;
                margin-top: -2px;
                .inblock(middle);
                margin-right: 10px;
                .sprite-i-chekbox;
            }
        }
        &:checked {
            & + span {
                &:before {
                    .sprite-i-chekbox-active;
                }

            }
        }
    }
}
.fltr-cat {
  margin-bottom: 0;
}
.form {

  .help-block {
    margin: 0;
    font-size: 12px;
    &.help-block-error {
      color: @col-active;
    }
  }
  input:not([type]),  input[type=text],  input[type=password],  input[type=email],  input[type=url],  input[type=tel],  input[type=datetime],  input[type=datetime-local],  input[type=date],  input[type=month],  input[type=time],  input[type=week],  input[type=color],  input[type=number],  input[type=search],  select,  textarea, .uk-form-select span {
    background: #2c2c2c;
    border-color: transparent;
    border-radius: 3px;
    color: rgba(255,255,255,0.46);
    font-size: 14px;
    &:disabled, &.disabled {
      background: rgb(90,90,90);
      border-color: transparent;
    }
  }
  .uk-form-select span {
    padding-right: 30px;
    display: block;
    height: @form-height;
    padding: @form-padding;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:after {
      content: "\f107";
      font-family: FontAwesome;
      font-weight: 400;
      font-style: normal;
      line-height: 1;
      position: absolute;
      right: 10px;
      top: 0;
      line-height: @form-height - 2;
    }
  }
  .uk-button {
    background: #1c1c1c;
    border-radius: 3px;
    border: 1px solid @col-active;
    font-size: 14px;
    &:hover {
      background: #2c2c2c;
    }
  }
  &_light {
    input:not([type]),  input[type=text],  input[type=password],  input[type=email],  input[type=url],  input[type=tel],  input[type=datetime],  input[type=datetime-local],  input[type=date],  input[type=month],  input[type=time],  input[type=week],  input[type=color],  input[type=number],  input[type=search],  select,  textarea, .uk-form-select span {
      background: #fafaff;
      color: @col-font;
      border: 1px solid @col-border;
      &:disabled, &.disabled {
        background: #eff0f1;
      }
    }
    .uk-button {
      color: @col-active;
      background: none;
      &:hover {
        background: @col-active;
        color: #fff;
      }
    }
  }
  &_transparent {
     input:not([type]),  input[type=text],  input[type=password],  input[type=email],  input[type=url],  input[type=tel],  input[type=datetime],  input[type=datetime-local],  input[type=date],  input[type=month],  input[type=time],  input[type=week],  input[type=color],  input[type=number],  input[type=search],  select,  textarea {
      background: transparent;
      border-color: #fff;
      border-color: rgba(255,255,255,0.25);
      color: #868281;
      &:focus {
        background: transparent;
        border-color: @col-active;
        color: #fff;
      }
    }
    label {
      &.focus {
        color: @col-active;
      }
    }
  }
}
