/*MAIN*/
.mainWrapper {
    margin:0 auto;
    min-height:100%;
    min-height:100vh;
    position:relative;
    text-align:left;
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    &_lightbox {
      @media only screen and (min-width: @breakpoint-small) {
        .uk-grid-divider>[class*=uk-width-small-]:not(.uk-width-small-1-1):nth-child(n+2) {
          border-left: 1px solid #E5E5E5;
        }

      }
      &__box {
        background: #fff;
        margin-top: 5px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    &_bg {
        color: #fff;
        &:before {
            content:'';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: #000;
            opacity: 0.5;
        }
        &> * {
          position: relative;
          z-index: 2;
        }
    }
    &_height-auto {
      min-height: inherit;
      .first-screen {
        min-height: inherit !important;
      }
    }
    .first-screen {
      width: 100%;
    }
    &.uk-flex {
      .first-screen {
        min-height: 100vh;
      }
    }
}
.first-screen-top {

}
.first-screen-center {
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  -ms-flex-grow: 2;
  -o-flex-grow: 2;
  flex-grow: 2;
}
/*//MAIN*/
.container-content {
    margin: 0 auto;
    .clearfix;
    max-width: @max-width;
    padding: 0 15px;
    &_padding-all {
        padding: 20px 15px;
    }
}

.padding {
  padding: 20px;
}
.bg-box {
  background: #fff;
  color: @col-font;
  padding: 20px 35px;
  &_muted {
    background: #fafaff;
  }
  &_dark {
    color: #fff;
    background: #1c1c1c;
    padding: 20px;
  }
}
.bg-box-info {
  margin: 2px;
  text-align: center;
  .font-l;
  &__title {
    font-size: 15px;
    .font;
    &:after {
      content:'';
      width: 5px;
      height: 5px;
      display: block;
      border-radius: 50%;
      margin: 15px auto 0;
      background: @col-active;
    }
  }
}
.action-timer {
  &__title {
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
}
