.modal-w890 {
  max-width: 890px;
}
.modal {
  .uk-modal-spinner {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: none;
    text-align: center;
    z-index: 10;
    background: #fff;
    &:after {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
  &__close{
    position: absolute;
    right: 0;
    top: -29px;
    cursor: pointer;
    z-index: 2;
  }
  &__inline-block {
    .inblock();
    width: auto;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .uk-modal-dialog {
    margin: @modal-dialog-margin-vertical auto;
  }
  &__top {
    min-height: 22px;
    position: relative;
    text-align: left;
    .clearfix;
  }
  &__title {
    float: left;
    color: #fff;
    .font;
    font-size: 22px;
    margin-bottom: 0.5em;
  }
  &__btn-box {
    float: right;
    &_no-border {
      .modal__btn {
        border-color: transparent !important;
      }
    }
  }
  &__switch {
    margin: 0 -10px !important;
  }
  &__btn {
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    margin-left: 5px;
    outline: none;
    color: #fff;
    text-decoration: none !important;
    &:hover {
      text-decoration: none;
    }
    * >div {
      white-space: nowrap;
    }
    &:first-child {
      margin-left: 0;
    }
    &:focus{
      outline: none;
    }
  }
  &__img {
    float: left;
    height: 100%;
    width: 215px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &__right {
    margin-left: 215px;
  }
  &__dialog-width-auto{
    width: auto;
    max-width: none;
    margin: 50px 25px !important;
  }
}
.modal-in-content {
  font-size: 16px;
}
.modal-map {
  position: relative;
  min-height: 500px;
  .container-content {
    position: relative;
    z-index: 2;
    pointer-events: none;
    // & > *{
    //   pointer-events: all;
    // }
  }
  .map{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
.uk-modal-caption {
  bottom: auto;
  top: -37px;
  font-size: 22px;
  .font;
  text-align: left;
  padding-right: 37px;
}

.uk-modal-dialog-lightbox {
  margin: 50px auto 15px;
  // max-width: 600px !important;
  // height: auto !important;
}
.modal-in {
  max-width: 1200px;
  width: auto;
  // display: inline-block;
  // margin: 50px auto;
  background-color: transparent;
}
.uk-responsive-width {
  // height: auto !important;
}

.uk-modal-dialog>.uk-close:first-child {
  margin-top: -18px - @modal-dialog-padding;
  margin-right: -18px - @modal-dialog-padding;
  z-index: 2 !important;
}
.uk-modal-dialog.uk-modal-dialog-lightbox>.uk-close:first-child {
  top: -18px;
  right: -18px;
  margin-top: 0;
  margin-right: 0;
  z-index: 2;
}
.uk-close-alt {
  background: @col-active;
  color: #fff;
  width: 38px;
  line-height: 38px;
  &:focus {
    color: #fff;
  }
  &:after {
    font-size: 20px;
    opacity: 1;
  }
}

.uk-modal-page body {
  overflow: initial;
}
.modal-blank {
  &__top {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 5;
  }
}
.uk-modal-dialog-blank {
  color: #fff;
  &:before {
    content:'';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #000;
    opacity: 0.45;
  }
}
.modal-auto {
  &__item {
    min-height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
  &__content {
    padding: 130px 20px;
    text-align: center;
    position: relative;
    z-index: 3;
  }
  &__logo {
    width: 100px;
    height: 53px;
    position: relative;
    overflow: hidden;
    margin: 0 auto 5px;
    img {
      object-fit: contain;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__name {
    .font;
    font-size: 30px;
  }
}
@media only screen and (max-width: @breakpoint-medium) {
  .uk-modal-caption {
    font-size: 20px;
    top: -42px;
  }
  .modal {
    &__right {
      margin-left: 0;
    }
  }
}
