/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@sprite-close-18-name: 'sprite-close-18';
@sprite-close-18-x: 28px;
@sprite-close-18-y: 24px;
@sprite-close-18-offset-x: -28px;
@sprite-close-18-offset-y: -24px;
@sprite-close-18-width: 18px;
@sprite-close-18-height: 18px;
@sprite-close-18-total-width: 82px;
@sprite-close-18-total-height: 73px;
@sprite-close-18-image: '/images/sprite.png';
@sprite-close-18: 28px 24px -28px -24px 18px 18px 82px 73px '/images/sprite.png' 'sprite-close-18';
@sprite-close-name: 'sprite-close';
@sprite-close-x: 64px;
@sprite-close-y: 39px;
@sprite-close-offset-x: -64px;
@sprite-close-offset-y: -39px;
@sprite-close-width: 15px;
@sprite-close-height: 15px;
@sprite-close-total-width: 82px;
@sprite-close-total-height: 73px;
@sprite-close-image: '/images/sprite.png';
@sprite-close: 64px 39px -64px -39px 15px 15px 82px 73px '/images/sprite.png' 'sprite-close';
@sprite-down-name: 'sprite-down';
@sprite-down-x: 28px;
@sprite-down-y: 0px;
@sprite-down-offset-x: -28px;
@sprite-down-offset-y: 0px;
@sprite-down-width: 18px;
@sprite-down-height: 24px;
@sprite-down-total-width: 82px;
@sprite-down-total-height: 73px;
@sprite-down-image: '/images/sprite.png';
@sprite-down: 28px 0px -28px 0px 18px 24px 82px 73px '/images/sprite.png' 'sprite-down';
@sprite-i-arr-left-name: 'sprite-i-arr-left';
@sprite-i-arr-left-x: 37px;
@sprite-i-arr-left-y: 59px;
@sprite-i-arr-left-offset-x: -37px;
@sprite-i-arr-left-offset-y: -59px;
@sprite-i-arr-left-width: 17px;
@sprite-i-arr-left-height: 11px;
@sprite-i-arr-left-total-width: 82px;
@sprite-i-arr-left-total-height: 73px;
@sprite-i-arr-left-image: '/images/sprite.png';
@sprite-i-arr-left: 37px 59px -37px -59px 17px 11px 82px 73px '/images/sprite.png' 'sprite-i-arr-left';
@sprite-i-arr-right-name: 'sprite-i-arr-right';
@sprite-i-arr-right-x: 20px;
@sprite-i-arr-right-y: 59px;
@sprite-i-arr-right-offset-x: -20px;
@sprite-i-arr-right-offset-y: -59px;
@sprite-i-arr-right-width: 17px;
@sprite-i-arr-right-height: 11px;
@sprite-i-arr-right-total-width: 82px;
@sprite-i-arr-right-total-height: 73px;
@sprite-i-arr-right-image: '/images/sprite.png';
@sprite-i-arr-right: 20px 59px -20px -59px 17px 11px 82px 73px '/images/sprite.png' 'sprite-i-arr-right';
@sprite-i-car-name: 'sprite-i-car';
@sprite-i-car-x: 0px;
@sprite-i-car-y: 59px;
@sprite-i-car-offset-x: 0px;
@sprite-i-car-offset-y: -59px;
@sprite-i-car-width: 20px;
@sprite-i-car-height: 14px;
@sprite-i-car-total-width: 82px;
@sprite-i-car-total-height: 73px;
@sprite-i-car-image: '/images/sprite.png';
@sprite-i-car: 0px 59px 0px -59px 20px 14px 82px 73px '/images/sprite.png' 'sprite-i-car';
@sprite-i-check-name: 'sprite-i-check';
@sprite-i-check-x: 28px;
@sprite-i-check-y: 42px;
@sprite-i-check-offset-x: -28px;
@sprite-i-check-offset-y: -42px;
@sprite-i-check-width: 15px;
@sprite-i-check-height: 14px;
@sprite-i-check-total-width: 82px;
@sprite-i-check-total-height: 73px;
@sprite-i-check-image: '/images/sprite.png';
@sprite-i-check: 28px 42px -28px -42px 15px 14px 82px 73px '/images/sprite.png' 'sprite-i-check';
@sprite-i-chekbox-active-name: 'sprite-i-chekbox-active';
@sprite-i-chekbox-active-x: 64px;
@sprite-i-chekbox-active-y: 0px;
@sprite-i-chekbox-active-offset-x: -64px;
@sprite-i-chekbox-active-offset-y: 0px;
@sprite-i-chekbox-active-width: 18px;
@sprite-i-chekbox-active-height: 18px;
@sprite-i-chekbox-active-total-width: 82px;
@sprite-i-chekbox-active-total-height: 73px;
@sprite-i-chekbox-active-image: '/images/sprite.png';
@sprite-i-chekbox-active: 64px 0px -64px 0px 18px 18px 82px 73px '/images/sprite.png' 'sprite-i-chekbox-active';
@sprite-i-chekbox-white-name: 'sprite-i-chekbox-white';
@sprite-i-chekbox-white-x: 46px;
@sprite-i-chekbox-white-y: 36px;
@sprite-i-chekbox-white-offset-x: -46px;
@sprite-i-chekbox-white-offset-y: -36px;
@sprite-i-chekbox-white-width: 18px;
@sprite-i-chekbox-white-height: 18px;
@sprite-i-chekbox-white-total-width: 82px;
@sprite-i-chekbox-white-total-height: 73px;
@sprite-i-chekbox-white-image: '/images/sprite.png';
@sprite-i-chekbox-white: 46px 36px -46px -36px 18px 18px 82px 73px '/images/sprite.png' 'sprite-i-chekbox-white';
@sprite-i-chekbox-name: 'sprite-i-chekbox';
@sprite-i-chekbox-x: 46px;
@sprite-i-chekbox-y: 18px;
@sprite-i-chekbox-offset-x: -46px;
@sprite-i-chekbox-offset-y: -18px;
@sprite-i-chekbox-width: 18px;
@sprite-i-chekbox-height: 18px;
@sprite-i-chekbox-total-width: 82px;
@sprite-i-chekbox-total-height: 73px;
@sprite-i-chekbox-image: '/images/sprite.png';
@sprite-i-chekbox: 46px 18px -46px -18px 18px 18px 82px 73px '/images/sprite.png' 'sprite-i-chekbox';
@sprite-i-phone-mobile-name: 'sprite-i-phone-mobile';
@sprite-i-phone-mobile-x: 64px;
@sprite-i-phone-mobile-y: 18px;
@sprite-i-phone-mobile-offset-x: -64px;
@sprite-i-phone-mobile-offset-y: -18px;
@sprite-i-phone-mobile-width: 11px;
@sprite-i-phone-mobile-height: 21px;
@sprite-i-phone-mobile-total-width: 82px;
@sprite-i-phone-mobile-total-height: 73px;
@sprite-i-phone-mobile-image: '/images/sprite.png';
@sprite-i-phone-mobile: 64px 18px -64px -18px 11px 21px 82px 73px '/images/sprite.png' 'sprite-i-phone-mobile';
@sprite-i-phone-vol-name: 'sprite-i-phone-vol';
@sprite-i-phone-vol-x: 46px;
@sprite-i-phone-vol-y: 0px;
@sprite-i-phone-vol-offset-x: -46px;
@sprite-i-phone-vol-offset-y: 0px;
@sprite-i-phone-vol-width: 18px;
@sprite-i-phone-vol-height: 18px;
@sprite-i-phone-vol-total-width: 82px;
@sprite-i-phone-vol-total-height: 73px;
@sprite-i-phone-vol-image: '/images/sprite.png';
@sprite-i-phone-vol: 46px 0px -46px 0px 18px 18px 82px 73px '/images/sprite.png' 'sprite-i-phone-vol';
@sprite-i-refresh-name: 'sprite-i-refresh';
@sprite-i-refresh-x: 0px;
@sprite-i-refresh-y: 0px;
@sprite-i-refresh-offset-x: 0px;
@sprite-i-refresh-offset-y: 0px;
@sprite-i-refresh-width: 28px;
@sprite-i-refresh-height: 28px;
@sprite-i-refresh-total-width: 82px;
@sprite-i-refresh-total-height: 73px;
@sprite-i-refresh-image: '/images/sprite.png';
@sprite-i-refresh: 0px 0px 0px 0px 28px 28px 82px 73px '/images/sprite.png' 'sprite-i-refresh';
@sprite-i-rub-name: 'sprite-i-rub';
@sprite-i-rub-x: 0px;
@sprite-i-rub-y: 28px;
@sprite-i-rub-offset-x: 0px;
@sprite-i-rub-offset-y: -28px;
@sprite-i-rub-width: 21px;
@sprite-i-rub-height: 31px;
@sprite-i-rub-total-width: 82px;
@sprite-i-rub-total-height: 73px;
@sprite-i-rub-image: '/images/sprite.png';
@sprite-i-rub: 0px 28px 0px -28px 21px 31px 82px 73px '/images/sprite.png' 'sprite-i-rub';
@spritesheet-width: 82px;
@spritesheet-height: 73px;
@spritesheet-image: '/images/sprite.png';
@spritesheet-sprites: @sprite-close-18 @sprite-close @sprite-down @sprite-i-arr-left @sprite-i-arr-right @sprite-i-car @sprite-i-check @sprite-i-chekbox-active @sprite-i-chekbox-white @sprite-i-chekbox @sprite-i-phone-mobile @sprite-i-phone-vol @sprite-i-refresh @sprite-i-rub;
@spritesheet: 82px 73px '/images/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
