// LAYOUT
@max-width: 1200px; // Максимальная ширина контента сайта
@left-column-width: 215px; // Ширина левой колонки
@footer-height: 120px; // Высота футера


//PATH
@img: "../img/";// Путь к картинкам фона
@font: "../fonts/";// Путь к шрифтам фона

//COLOR FOR SITE


@col-primary: #4d75a4;
@col-default: ;
@col-danger: ;
@col-gray: ;
@col-active: #d62631;
@col-border: #e9e9f0;

@col-bg: #fafaff;
//COLOR FOR FONTS
@col-font: #141414;
